form#enrol_apply_manage_form tr {
    border-left: 3px solid transparent;
}

form#enrol_apply_manage_form tr.enrol_apply_waitinglist_highlight {
    border-color: grey;
}

.formaction {
    text-align: center;
}
